footer a {
    color: white; /* Warna teks tautan menjadi putih */
    text-decoration: none; /* Menghapus garis bawah */
}

footer a:hover {
    text-decoration: underline; /* Tambahkan garis bawah saat di-hover */
}
